{
  "extends": ["plugin:prettier/recommended"],
  "root": true,
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-debugger": "off"
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  }
}
